Flask==1.0.2
{% if cookiecutter.api|lower == 'flask' -%}
flask-cors==3.0.6
flask-restx==0.2.0
Werkzeug==0.15.5
gunicorn==20.0.4
gevent==20.4.0
{%- elif cookiecutter.api|lower == 'fastapi' -%}
fastapi==0.58.0
uvicorn==0.11.5
{%- endif %}
requests==2.21.0
{%- if cookiecutter.sqlalchemy|lower == 'y' %}
SQLAlchemy==1.3.3
pyyaml==5.3.1
{%- endif %}
